@import url(recet.css);

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background:  #FFFFFF;
    padding: 25px 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 145px;
    height: 31px;
}

.header-nav {
    margin-left: 90px;
}

.nav-list {
    display: flex;
    column-gap: 50px;
}

.header-link {
    font-weight: 500;
    text-decoration: none;
    color: #212121;
}

.header-contacts {
    margin-left: auto;
}

.color{
    color: #2196F3;
}

.color_1{
    color: #757575;
}

.hero {
    background: #2F303A;
    color: #FFFFFF;
}

.hero-container {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 3px;
    max-width: 696px;
}

.hero-button, .service-button {
    padding: 10px 46px;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 30px;
    text-decoration: none;
}

.hero-button:active, .service-button:active{
    color: #2196F3;
    background-color: #FFFFFF;
}

.doing{
    margin: 94px 0;
    background-color: #FFFFFF;
}

.doing-bloc {
    display: flex;
    gap: 30px; 
}

.doing-attention-title {
    font-weight: 700;
    text-transform: uppercase;
    
}

.doing-attention-text {
    color: #757575;
    line-height: 24px;
    margin-top: 10px;
    letter-spacing: 0.4px;
}

.doing-100{
    flex: 1 1 23%;
}

.doing-title-text {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1px;
    margin-top: 94px;
}

.doing-cards {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.doing-cards-img {
    flex: 1 1 30px;
    width: 370px;
    height: 294px;
}

.doing-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    background: #2F303A;
    padding: 60px 0;
}

/* .footer-container {
    display: flex;
    flex-direction: column;
} */

.footer-logo{
    display: block;
    width: 161px;
    height: 31px;
}

.footer-box {
/* display: flex;
flex-direction: column;
gap: 9px; */
margin-top: 20px;
line-height: 24px;
}

.copy{
    color: #FFFFFF;
}

.footer-link {
    color: #FFFFFF99;
    text-decoration: none;
}